* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(assets/newsletterbg.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
}


.container {
    height: 500px;
    width: 50%;
    background-color: #FF9C00;
    border-radius: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.right {
    padding: 20px;
    flex: 1;
    height: 90%;
    width: 50%;
}

.right img {
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

.left {
    padding: 20px;
    flex: 1;
    height: 90%;
    width: 50%;
    margin: 50px auto;
    margin-left: 15px;
    margin-top: 100px;

}

.left .top {
    margin-bottom: 20px;
}

.left .top h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 800;

}

.left .top p {
    font-weight: 300;
    font-size: 14px;
}

.middle {
    margin: 20px 0px;
}

.checkItems {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.checkItems span {
    margin-left: 10px;
    font-size: 14px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.bottom .email {
    font-size: 12px;
    font-weight: bold;
}

.bottom .valid {
    font-size: 12px;
    font-weight: bold;
}

input {
    margin: 10px 0px;
    width: 92%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;


}

input:focus {
    outline: 1px solid black;
}

button {
    margin: 10px 0px;
    width: 99%;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-weight: bold;

}

button:hover {
    background-color: black;
    color: white;
}



.thanks {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #FF9C00;
    border-radius: 20px;
    padding: 50px;

}

.thanksBox .thanksText {
    margin-top: 30px;

}

.thanksBox .thanksText h1 {
    margin-bottom: 20px;
    font-weight: 800;
}

.thanksBox .thanksText p {
    font-weight: 300;
    margin-bottom: 20px;
}

.thanksButton {
    margin-top: 20px;

}

.checkIcon i {
    font-size: 42px;
}